<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="#"><img src="./assets/icon.png" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="toggle()" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup" [class.show]="visibility">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="/">Weather's Call<span class="sr-only">(current)</span></a>
    </div>
  </div>
</nav>