/* You can add global styles to this file, and also import other style files */
body{
    text: white;
    background: url("/assets/bckimg.jpg");
    height: 100%; 
    border: 2px solid black;
    background-size: 100%;
}

